<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALRAMPUR COADIND CLASSES</title>
    style 
         include ../static/style.css

</head>

<body>
<header class="header">
   <div class="left">
       <img src="images.png" alt="">
       <div>GUL@M WARSI CODER..</div>

   </div>
   <div class="mid">
       <ul class="navbar">
           <li><a href="/" class="active">HOME</a></li>
           <li><a href="/">ABOUT</a></li>
           <li><a href="/">COADING CALCULATOR</a></li>
           <li><a href="/">CONTACT US</a></li>
       </ul>


   </div>
   <div class="right">
       <button class="btn">Call Us NOW</button>
       <button class="btn">Email Us</button>
   </div>

</header>
<div class="container">
   <h1>Join The Best Coding Class In Balrampur </h1>
   <form action="/" method="post">
       <div class="formgroup">
           <input type="text" name="Name" placeholder="Enter your name">
       </div>
       <div class="formgroup">
           <input type="text" name="Email" placeholder="Enter your Email">
       </div>
       <div class="formgroup">
           <input type="text" name="contact" placeholder="Enter your contact number">
       </div>
       <div class="formgroup">
           <input type="text" name="Qualification" placeholder="Enter your Qualification">
       </div>
       <div class="formgroup">
           <input type="text" name="Age" placeholder="Enter your Age">
       </div>
       <div class="formgroup">
           <input type="text" name="Address" placeholder="Enter your Address">
       </div>
       <button class="btn">Submit</button>
   </form>
</div>


</body>

</html>